*{
  margin: 0;
  padding: 0;
  font-family: 'Lexend', sans-serif;
}
:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background:#5E3AEE;
  --vp-home-hero-image-background-image:#5E3AEE;
  /* --vp-home-hero-name-background: -webkit-linear-gradient( 120deg, #bd34fe 30%, #41d1ff ); */
  --vp-home-hero-image-background-image: linear-gradient( -45deg, #bd34fe 50%, #47caff 50% );
  --vp-home-hero-image-filter: blur(80px);
}
body {

  background-color: rgb(249, 249, 255);
  background-color: white;
	margin: 0 auto !important;
	float: none !important;
}


.footer {
  z-index: 1;
  text-align: center;
  /* margin-top: 200px; */
  /* position: relative; */
  width: 100%;
  background: rgb(0, 1, 43);
  min-height: 100px;
  padding: 27px 51px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}
.blink_me {
  background: #5E3AEE;
  padding: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255,255,255,0);
  letter-spacing: -1px;
  font-size: clamp(18px, 9vw, 60px);
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  /* transform: translateY(-10px); */
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}
.footer ul{
  padding-left: 0;
}
.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
/* html {
  scroll-behavior: smooth;
    background: url(./src/assets/public/images/pzzgsixachckpcdpdnvl.avif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

} */
#myVideo {

  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
.scroll-down{
  display: inline-block;
text-align: center;
}
.header{
  position: fixed;
  z-index: 997;
  left: 0;
  right: 0;
  background-color: white;
  top: 0;
  transition:0.5s;
  display: block;


}

.icons-container{
  margin-right: 40px;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
}
.add-shadow{

box-shadow: 0px 2px 30px 14px rgba(60, 64, 67, 0.10);
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
.nav{
  position: relative;
   z-index: 1;
   max-width: 1400px;
   margin-left: auto;
      margin-right: auto;
   height: 130px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   transition: 1s;
   background-color: rgb(255, 255, 255);
}
.nav-menu-flex{
  align-items: center;
  /* flex:4; */
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.responsive-height{
  height: 70px;

}
.button-container{
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 70px;
}
.button-container:hover .nav-btn{
  color: rgb(132, 146, 255);
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100px;
}
.button-container .nav-btn{
      text-decoration: none;
      color: rgb(76, 79, 76);
      padding: 0 8px 0 8px;
      text-decoration: none;
      display: inline-block;
      color: #656B8E;
      font-weight: 300;
      font-size: 14px;
      outline: none;
      transition: 0.3s;
}


.nav-title-container{
  margin-left: 40px;
  margin-right: 60px;
  /* flex: auto; */
  /* flex-basis: 1s; */
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.nav-title-icon{
  height: 40px;
}
.nav-title{
  font-size: 14px;
  margin:0;
  padding-left: 10px;
  font-weight: 800;
}

.section-hero-section{
  background-color: #F9F9FC;
  padding-top: 188px;
}
.hero-section-row-flex{
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #dddddd 1px solid;
}
.hero-section-info-section{


  padding-left: 20px;
  padding-right: 20px;
}
.hero-section-image-section{
  padding-left: 20px;
  padding-right: 20px;
}
.hero-section-image img{
  width: 450px;
}
.hero-section-info-title{
  margin-bottom: 2px;
  padding: 0;
  color: #1d1f23;
  font-weight: 500;
  font-size: clamp(18px, 9vw, 42px);
  white-space: pre-line;
}
.typewriter-container{
  gap: 10px;
  padding: 0;
  margin: 0;
  display: flex;

  align-items: center;
  flex-direction:row;
  margin-bottom: 50px;
  margin-top: 20px;
}
.rainbow{
  background: #5E3AEE;
  /* margin-bottom: 40px;
  margin-top: 5px; */
  padding: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255,255,255,0);
  letter-spacing: -1px;
  font-size: clamp(18px, 9vw, 60px);
}
.hero-section-info-subtitle{
      font-size: 20px;
      font-weight: 500;
      line-height: 1.3;
      padding-bottom: calc(20px + ( 24 - 20 ) var( --calc-size ));
      padding-bottom: 30px;
}
.hero-section-info-desc{
  /* margin: 0 auto; */
  max-width: 566px;
  color: #322b2b;
  line-height: 1.5;
  font-size: 18px;
  position: relative;
  font-weight: 300;
  z-index: 1;
  line-height: 1.5;

  padding-bottom: -webkit-calc(20px + ( 24 - 20 ) var( --calc-size ));
  padding-bottom: -moz-calc(20px + ( 24 - 20 ) var( --calc-size ));
  padding-bottom: calc(20px + ( 24 - 20 ) var( --calc-size ));

}
.hero-section-info-button{
  position: relative;
color: white;
}
.hero-section-info-button p{
  display: inline-block;
  cursor: pointer;
  position: relative;
  background-color: #4795e2;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-decoration: none;
  border-radius: 0.4em;
  font-weight: 500;
  font-size: 20px;
  transition: 0.2s;
}
.hero-section-info-button p:hover{
  background-color: #4184c6;
  transform: translateY(-0.2rem);
}
.hero-section-info-button p:active{
  scale: 0.95;
  /* transform: translateY(-0.2rem); */
}
.hero-section-image{
  width: 100%;
}
.hero-section-image iframe{
  /* max-width: 40rem; */
  /* min-height: 40rem; */
  width: 680px;
  height: 482px;

  border-radius: 30px;
  background: linear-gradient(145deg, #f0f0f0, #d2d7ff);
  box-shadow:  5px 5px 20px #929292,
               -5px -5px 10px #ffffff;
}

.hero-section-image-image-bg{
  width: 392px;
  height: 392px;
  position: relative;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-image: var(--vp-home-hero-image-background-image);
  filter: var(--vp-home-hero-image-filter);
  transform: translate(-50%,40%);
  z-index: -1;
}

.section-bio{
  background-color: #ffffff;
  scroll-margin-top: 7em;
  margin-top: 200px;
  padding: 0 2em;
}

.section-bio-flexrow{
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-bio-infosection{
  display: flex;
}
.section-bio-title{
  padding-bottom:50px;
}
.section-bio-title h1{
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: 700;
  gap: 10px;
  font-size: 2rem;
text-align: center;
}
.section-bio-title h1 h1{
  color: #5E3AEE;
margin-bottom: 0;
}
.section-bio-imagesection img{
  max-height: 306px;
  max-width: 344px;
  border: 1px solid #eee;
  /* box-shadow: 5px 5px 20px #9292924f, -5px -5px 10px #ffffff5e; */
  border-radius: 30px;
  margin-right: 99px;
  object-fit: cover;
}
.section-bio-infosectionText{
  max-width: 1000px;
}
.section-bio-skills-container{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.section-bio-skills-container span{
  color: white;
  font-weight: 300;
  background-color: rgb(61, 63, 139);
  padding: 10px 20px 10px 20px;
  margin: 5px 10px 5px 10px;
  border-radius: 5px;
}

.section-bio-title-info{
  padding-bottom: 30PX;
}

.section-bio-title-info h2{
  font-size: 1rem;;
 color: rgb(50, 50, 50);
}
.section-bio-infodesc P{
  line-height: 1.5;
  font-size: clamp(1rem, 0.7vw, 1.3rem);
  position: relative;
  font-weight: 300;
  z-index: 1;
  line-height: 1.5;
  max-width: 550px;
}

.section-skills{
  background-color: #ffffff;
  scroll-margin-top: 7em;
  margin-top: 200px;
  padding: 0 2em;
}

.section-skills-flexrow{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-projects{
  padding-top: 20px;
  scroll-margin-top: 7em;
  text-align: center;
  margin-top: 100px;
  background-color: #ffffff;
  
}
.project-container{
  margin: 0px 58px 58px 58px;
  justify-content: center;
  display: flex;
}

.projects-title{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: var(--ff-alt);
  color: var(--text-font-dark-1);
  font-weight: 500;
  /* font-size: 48px; */
  font-size: 2rem;
  padding-bottom: 30px;
}

.projects-subtitle{
  font-family: var(--ff-alt);
  color: rgb(78, 78, 78);
  font-weight: 500;
  /* font-size: 20px; */
  font-size : clamp(0.5rem, 4vw, 1.4rem);
  padding-bottom: 30px;
}
.project{
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 8%);
  -webkit-border-radius: 2em 2em 2em 2em;
  border-radius: 2em 2em 2em 2em;
  border: 1px solid #eee;
  text-align: center;
  margin: 20px;
  width: 25em;
}
.project img{
  width: 100%;
  max-height: 24vw;
  -webkit-border-radius: 2em 2em 0em 0em;
  -moz-border-radius: 2em 2em 0em 0em;
  border-radius: 2em 2em 0em 0em;
  object-fit: cover;
}
.project h1, .project p, .project button{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}
.project button{
  cursor: pointer;
  padding: 3% 8% 3% 8%;
  background-color: #4795e2;
  color: white;
  margin-bottom: 21px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 0.4em;
  font-size: 19px;
  left: 0;
  bottom: 0;
  border: none;
  position: relative;
  transition: 0.2s;
}
.project button:hover{
  background-color: #4184c6;
}
.project button:active{
  scale: 0.95;
}
.project h1{
  font-weight: 500;
  font-size: 1.2rem;
/* font-size: 30px; */
}

.project p{
  font-size : clamp(0.7rem, 0.7vw, 1.3rem);
  line-height: 1.5;
  /* font-size: 20px; */
  font-weight: 300;
}

.burger{
  display: none;
}
.nav-links-open{
  display: none;
}
.burger div{
  text-align: right;
height: 3px;
margin: 5px;
margin-right: 17px;
background-color: black;
transition: all 0.3s ease;
}
.line1,.line1-open{
  border-radius: 7px;
  width: 25px;
}
.line2 ,.line2-open{
  border-radius: 7px;
  width: 25px;
}
.line3,.line3-open {
  border-radius: 7px;
  width: 25px;
}
.line1-open{
  transform:rotate(-45deg) translate(-5px,6px);
}
.line2-open{
  opacity: 0;
}
.line3-open{
  transform:rotate(45deg) translate(-5px,-6px) ;
}
/* ----------------------- CONTACT ----------------------- */
.category-section{
  /* background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%); */
  /* background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);  */




  background: #4776E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
















  padding-top: 30px;
  padding-bottom: 30px;
}
.category-section p{
  color: rgba(0, 0, 0);
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  line-height: 1.2em!important;
  text-align: center;

}
.section-title{
  color: white;
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  line-height: 1.2em!important;
  margin-top: 70px;
  font-size: 48px;

  /* padding-top: 50px; */
  text-align: center;
}
.text-white{
  padding-top: 13px;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}

.text-white a {
  color: white;
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
}
.text-white span {
  color: white;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
}
.section-gap{
  padding: 60px 0;
}
.contact-flex-section{
  z-index: -1;
  margin-left: 30px;
  margin-right: 30px;


  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-items: flex-start;
  padding-bottom: 100px;
}

.contact-title{
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}
.contact-section{
  background-color: #F9F9FC;
  /* background: rgb(219, 219, 255); */
  scroll-margin-top: 7em;
    margin-top: 100px;
    padding-top: 30px;
    border-top: #dddddd 1px solid;
}

.section-contact-title h1{
  text-align: center;
  padding-bottom: 70px;
}

.contact-info{
  color: #777;
  font-family: "Poppins",sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.825em;
}
.contact-info-container{
  width: 430px;
  padding-right: 10px;
}
.contact-image{
  max-width: 100%;
  height: auto;
  /* border-radius: 50%; */
}
.symbol-flex-container{
  padding-top: 20px;
}
.symbol-flex-container p{
color: #777;
font-family: "Poppins",sans-serif;
font-size: 10px;
font-weight: 300;
line-height: 1.825em;

}
.icon-placeholder{
  display: flex;
  align-items: center;
}
.symbol-flex-container i{
  padding-right: 30px;
  font-size: 24px;
  padding-bottom: 9px;
  border-radius: 50%;
  width: 30px;
  }

.form-control,.form-control-message{
  margin-top: 10px;
  width: 400px;
  text-indent: 10px;
  border-radius: 2px;
  }
  .form-control:focus, .form-control-message:focus {
  outline: none !important;
  border:2px solid rgb(53, 63, 255);
  border-radius: 5px;
  box-shadow: none;
}
.form-control{
height: 30px;
}
.form-control-message{
  border-radius: 0.375rem;
  background-color: white;
  border:1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  height: 100px;
  }
.contact-btn{
  background-color:#5E3AEE;
  /* background: #000; */
  color: #fff;
  padding: 15px 20px;
  cursor: pointer;
  border: none;
  border-radius: 4px !important;
  height: 40px;
  width: 200px;
  padding-left: 1.5rem!important;
  padding-right: 1.5rem!important;
  padding-bottom: 0.5rem!important;
  padding-top: 0.5rem!important;
  font-weight: 400;
  margin-top: 10px;
  font-size: 17px;
}
.contact-input-container{
  padding-left: 40px;
  padding-top: 52px;
}
.form-control-message{
  width: 100%;
}

 @media only screen and (max-width: 1440px) {
.hero-section-image iframe{
  width: 490px;
  height: 377px;
}
}

@media only screen and (max-width: 1166px) {
  .hero-section-image iframe{
    width: 390px;
    height: 277px;
  }

  }

@media only screen and (max-width: 860px) {
  .section-hero-section{
    padding-top: 288x;
  }

  .hero-section-image img{
    width: 310px;

  }
  .nav-title-container{
    margin-left: 0;
  }
  .hero-section-info-title{
    margin: 0;
    padding: 0;
    font-size: clamp(18px, 9vw, 30px);
  }
   .hero-section-row-flex{
    text-align: center;
    display: block;
  }
  .hero-section-image iframe{
    width: 590px;
    height: 377px;
  }
  .hero-section-image {
    margin-top: 30px;
    padding-right: 0;
  }

  .section-bio-infosection{
    text-align: center;
    display: block;
  }
  .section-bio-imagesection img{
    margin-right: 0;
    margin-bottom: 20px;
  }

  .section-bio-skills-container {
    justify-content: center;
}
.project{
margin-bottom: 50px;
}
.section-bio-infosectionText{
display: flex;
 flex-direction: column; }
}
#blockA{
  margin-top: 30px;
  order: 2;
}
#blockB{
  order: 1;
}

@media only screen and (max-width: 710px) {
  .section-hero-section{
    padding-top: 30px;
  }
  .project p{
    font-size: clamp(0.9rem, 1vw, 0.3rem);
    line-height: 1.5;
    font-weight: 300;
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 25px;
  }
  .project h1{
    font-weight: 500;
    font-size: 1.6rem;
  }
  .project-container{
    margin: 5px;
    display: block;
  }
 .hero-section-image iframe{
  width: 261px;
  height: 200px;
 }
 body{
  padding-top: 130px;
 }
 .hero-section-info-subtitle{
  font-size: 15px;
}
.hero-section-info-desc{
  font-size: 16px;
}
.section-bio-imagesection img{
  max-height: 200px;
}
.section-bio-skills-container span{
  padding: 5px 10px 5px 10px;
  border-radius: 1px;
}
.project{
  width: auto;
  margin:25px;
}
.burger{
  display: block;
}
.nav-links-open{
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.nav-menu-flex{
  display: none;
}
.project img{
  max-height: 300px;
}
/* ----------------------- Contact ----------------------- */
.contact-flex-section{
  display: unset;
}
.contact-info-container{
  width: 100%;
  padding:0;
}
.contact-title{
  padding-left: 20px;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  padding:0;
}
.contact-info{
  padding:0;
  text-align: center;
  font-size: 13px;
  margin-left: 50px;
  margin-right: 50px;
}
.icon-placeholder{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.symbol-flex-container{
  padding: 0;
  margin: 0;
}
.icon-placeholder i{
  padding: 10px 0 10px 0;
  width: auto;
}
.contact-input-container{
  padding-left: 10px;
  padding-right: 10px;
text-align: center;
  padding-bottom: 50px;
}
.contact-btn{
}

.form-control:focus, .form-control-message:focus {
  outline: none !important;
  border:2px solid rgb(53, 63, 255);
  border-radius: 5px;
  box-shadow: none;
}
.form-control{

  width: 100%;
}
.form-control-message{
  width: 100%;
}
}
  .nav-links {

    transition: 1s;
    transform: translateY(100%);
    margin-bottom: 0;
    padding-top: 17px;
    padding-top: 17px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    transform-origin: 0 0;
    box-shadow: 0px 2px 30px 14px rgb(60 64 67 / 10%);
    bottom: 0;
    width: 100%;
    border-radius: 18px 18px 0 0;
    background-color: white;
    z-index: 100;
    position: fixed;
    z-index: 100222;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
.nav-links li{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: rgb(0, 0, 0);
 }
  .nav-links-open a {
    text-decoration: none;
    color: rgb(0, 0, 0);
   }
   .nav-links-open a:focus-visible {
    text-decoration: none;
    color: rgb(118, 66, 228);
   }
  /* .nav-links a {
    text-decoration: none;
    display: none;
  } */
  .nav-links a:hover {
    color: #f4f4f4;
  }

  .nav-links-open{
    transition: 1s;
    transform: translateY(0);
    margin-bottom: 0;
    padding-top: 17px; 
    padding-top: 17px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    transform-origin: 0 0;
    box-shadow: 0px 2px 30px 14px rgb(60 64 67 / 50%);
    bottom: 0;
    width: 100%;
    border-radius: 18px 18px 0 0;
    background-color: white;
    z-index: 100;
    position: fixed;
    z-index: 100222;
    text-decoration: none;
    /* transform: translateY(0%);
    transition: transform 0.3s ease-out; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

.burger-open{
  z-index: 1000;
  transform: translateY(122%);
}
  .nav-links-open li {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
  }

  a:link {
    text-decoration: none;
}

.scrollTest{
  display: flex;
  justify-content: center;
}
.scrollTest a {
  margin-top: 100px;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: flex;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: rgb(0, 0, 0);
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.scrollTest a:hover {
  opacity: .5;
}

#section10 a {
  padding-top: 60px;
}
#section10 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
#section10 a span::before {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}


.context {
  width: 100%;
  position: absolute;
  top:50vh;
  
}

.context h1{
  text-align: center;
  color: #fff;
  font-size: 50px;
}


.area{
  background: #4e54c8;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  height:100vh;
  
 
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}