*{
  margin: 0;
  padding: 0;
  /* font-family: 'Europe', sans-serif; */
  font-family: Metropolis;
}
:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background:#5E3AEE;
  --vp-home-hero-image-background-image:#5E3AEE;
  /* --vp-home-hero-name-background: -webkit-linear-gradient( 120deg, #bd34fe 30%, #41d1ff ); */
  --vp-home-hero-image-background-image: linear-gradient( -45deg, #bd34fe 50%, #47caff 50% );
  --vp-home-hero-image-filter: blur(80px);
}
body {

  background-color: rgb(0, 0, 0);
	margin: 0 auto !important;
	float: none !important;
}
/* width */
::-webkit-scrollbar {
  width:6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #676767;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2a3768;
}


.call-to-action{
  margin-top: 5rem;
  background-color: #7510F7;
  color: #fff;
  padding: 1.5rem;
}
.section-call-to-action-container{
  max-width: 1200px;
  margin:auto;
  margin-bottom: 5rem;
}
.section-call-to-action-box{
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-radius: 12px;
  padding: 2.5rem 1rem;
    margin-top: -6rem;
    background-color: #141c3a;
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 20%), 0 0 0 1px #141c3a;
}
.section-call-to-action-column-item{
  width: 400px;

}
.section-call-to-action-column-item h1{
  font-size: 1.8rem;
}
.section-call-to-action-column-item p{
  font-size: 0.95rem;
  opacity: 0.7;
}
.section-call-to-action-column-item a{
  font-size: 1rem;
  align-items: center;
  gap: 10px;
  justify-content: center;
  color: #fff!important;
  background-color: transparent;
  text-decoration: none;
  border: 2px solid #7510F7;
  border-radius: 2532px;

  transition: 0.2s;
  cursor: pointer;
  padding: 1.2em 3em;
  font-weight: 500;
}
.section-call-to-action-column-item a:hover{
  color: #FFF !important;
  background-color: #7510F7;
}
.footer {
  position: relative;
  /* border-top: 1px solid #d4d4d5; */
  z-index: 1;
  text-align: center;
  width: 100%;
  /* height: 100vh; */
  background: #000000;
  /* min-height: 100px; */
  padding: 0 27px 20px 27px;
}
.footer-container{
  /* position: absolute;
   bottom: 0;
   right: 0;
   left: 0; */
}
.footer h1{
  margin:auto;
  max-width: 320px;
  font-weight: 300;
  color:rgb(255, 255, 255);
  font-size: 1.3rem !important;
  padding-top: 30px;
  padding-bottom: 50px;
  opacity: 0.7;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}
.blink_me {
  background: #323232;
  padding: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255,255,255,0);
  letter-spacing: -1px;
  font-size:   1.5rem !important;

  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.social-icon__link {
  font-size: 2rem;
  color: #ffffff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}


.menu__link {
  font-size: 1.2rem;
  color: #000000;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #ffffff;
  margin: 15px 0 10px 0;
  font-size: 0.9rem;
  font-weight: 300;
  opacity: 0.7;
}
.footer ul{
  padding-left: 0;
}
.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
html {
  scroll-behavior: smooth;
}
#myVideo {

  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
.scroll-down{
  display: inline-block;
text-align: center;
}
.header{
  position: fixed;
  z-index: 997;
  left: 0;
  right: 0;
  background-color: transparent;
  top: 0;
  transition:0.5s;
  display: block;


}

.icons-container{
  align-items: center;
  margin-right: 40px;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
}

.icons-container-burger{
  margin: 0 4rem;
  align-items: center;
  /* margin-right: 40px; */
  display: flex;
  justify-content: space-between;
}
.nav-icon{
  font-size: 16px;
  font-weight: 300;
  background-color: transparent;
  border:1px solid transparent;
  color: #ffffff;;
  padding: 7px 20px 7px 20px;
  border-radius: 9999px;
  transition: 0.5s;
}
.nav-icon:hover{
  color: #ffffff;
  border:1px solid #557efa;
  /* color: #557efa; */
}
.add-shadow{
  /* box-shadow: 0px 2px 30px 14px rgba(60, 64, 67, 0.129); */
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
.nav{
  /* margin: 2rem 1rem !important; */
  /* padding: 1.2rem rem 0; */
  position: relative;
  z-index: 1;
  /* max-width: 1400px; */

  /* margin-top: 20px; */
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.7s;
  background-color: transparent;
}
.w{
  /* max-width: 1840px; */
  margin:  auto;
}
.Typewriter{
  padding-top: 20px;
}
.nav-menu-flex{
  align-items: center;
  /* flex:4; */
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.responsive-height{
  background-color: rgba(0, 0, 0, 0.949);
  transition: 0.5s;
}
.responsive-height span a{
color: rgb(255, 255, 255);

}
.responsive-height .burger div{
  background-color: rgb(255, 255, 255);
}
.responsive-height .header-sayhello-button:hover,.responsive-height .nav-icon:hover{
  /* color: black; */
}
.responsive-height .header-sayhello-button{
  
  border: 1px solid transparent;
  }
/* .responsive-height .nav-title-container a img{
  content:url("https://raw.githubusercontent.com/mikelandy86/website2.0/main/src/assets/public/images/mhl_logo_black.png");
  } */
  
.header-sayhello-button{
  font-family: Metropolis;
  font-weight: 400;
  font-size: 16px;
  background-color: transparent;
  border:1px solid transparent;
  color: #ffffff;;
  padding: 7px 20px 7px 20px;
  border-radius: 9999px;
  transition: 0.5s;
}

.header-sayhello-button:hover{
  /* background-color:#011b66; */
  border-color: #557efa;
  color: rgb(255, 255, 255);
}

.button-container{
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 70px;
}
.button-container:hover .nav-btn{
  color: rgb(132, 146, 255);
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100px;
}
.button-container .nav-btn{
      text-decoration: none;
      color: rgb(76, 79, 76);
      padding: 0 8px 0 8px;
      text-decoration: none;
      display: inline-block;
      color: #656B8E;
      font-weight: 300;
      font-size: 14px;
      outline: none;
      transition: 0.3s;
}


.nav-title-container{
  /* margin-left: 40px;
  margin-right: 60px; */

  display: flex;
  align-items: center;
  padding-left: 20px;
}
.nav-title-container a{
  margin: 0;
}
.nav-title-icon{
  background-color: #7510F7;;
  height: 40px;
}
.nav-title{
  font-size: 14px;
  margin:0;
  padding-left: 10px;
  font-weight: 800;
}
.nav-item{
  height: 10px;
}
.color-change a{
  border-color: #000000;
  color: #000000;
}
.section-hero-section{
  background-color: rgb(0, 0, 0);
  padding-top: 100px;
  height: 100vh;
  z-index: 3232332;
}
.section-hero-section_bglayer{
  background-color: #000000;
  z-index: 4343;

}
.hero-section-row-flex{
  margin: 35vh 20px 7px 80px;
}
.hero-section-info-section{
/*

  padding-left: 20px;
  padding-right: 20px; */
}
.hero-section-image-section{
  padding-left: 20px;
  padding-right: 20px;
}
.hero-section-image img{
  width: 500px;
  margin-top: -2rem;
}
.hero-section-info-title{
  /* margin-bottom: 16px; */
  font-family: "eurostile", sans-serif;
  font-weight: 800;
  color: #141c3a;
  padding: 0;
  font-size: 3rem !important;
  white-space: pre-line;
}
.header-section-logo{
  margin: 1rem;
width: 38px;
}
.header-section-logo-footer{
  /* box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2); */
  margin: 3rem;
width: 70px;
}
.Typewriter{
padding-top: 0;
}
.typewriter-container{
  gap: 10px;
  padding: 0;
  margin: 0;
  display: flex;

  align-items: center;
  flex-direction:row;
  margin-bottom: 50px;
  margin-top: 20px;
}
.hero-foot{
  margin-top: 76px;
  padding: 0rem 1.5rem;
}
.hero-section-image-computers{
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}
.hero-section-image-computers-image{
  max-width: 100%;
  margin-top: 40px;
  margin-bottom: -0.45rem;
}

.videoHero {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* z-index: 1; */

}
.videoHero::-webkit-media-controls-start-playback-button {
  display: none;
}
.rainbow{
  background: #5E3AEE;
  padding: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255,255,255,0);
  letter-spacing: -1px;
  font-size: clamp(18px, 9vw, 60px);
}
.hero-section-info-subtitle{
      font-size: 1.5rem !important;
      font-weight: 500;
      line-height: 1.3;
      padding-bottom: calc(20px + ( 24 - 20 ) var( --calc-size ));
      padding-bottom: 30px;
}
.hero-section-info-desc{
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  text-shadow: 1px 1px #0c0c0c91;
  margin-bottom: 20px;
  color: #ececec;
  font-size: 6rem !important;
  position: relative;
  font-weight: 200;
  z-index: 1;
  line-height: 1.2;
  padding-bottom: -webkit-calc(20px + ( 24 - 20 ) var( --calc-size ));
  padding-bottom: -moz-calc(20px + ( 24 - 20 ) var( --calc-size ));
  padding-bottom: calc(20px + ( 24 - 20 ) var( --calc-size ));
}
.hero-section-info-desc-sub{
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1px 1px #0c0c0c91;
  margin-bottom: 50px;
  /* color: #c1c1c1; */
  color: #ffffff;
  font-size: 1.4rem !important;
  position: relative;
  font-weight: 100;
  z-index: 1;
  line-height: 1.3;
  padding-bottom: -webkit-calc(20px + ( 24 - 20 ) var( --calc-size ));
  padding-bottom: -moz-calc(20px + ( 24 - 20 ) var( --calc-size ));
  padding-bottom: calc(20px + ( 24 - 20 ) var( --calc-size ));
}
.hero-section-info-desc2{
  /* padding-top: 350px; */
  font-family: "europe", sans-serif;
  padding-bottom: -90px;
  color: #ececec;

  font-size: 3rem !important;
  position: relative;
  font-weight: 300;
  z-index: 1;
  line-height: 1.3;

  padding-bottom: -webkit-calc(20px + ( 24 - 20 ) var( --calc-size ));
  padding-bottom: -moz-calc(20px + ( 24 - 20 ) var( --calc-size ));
  padding-bottom: calc(20px + ( 24 - 20 ) var( --calc-size ));

}
.hero-section-info-button{
  position: relative;
color: white;
}
.hero-section-info-button p{
  display: inline-block;
  cursor: pointer;
  position: relative;
  background-color: #4795e2;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-decoration: none;
  border-radius: 0.4em;
  font-weight: 500;
  font-size: 20px;
  transition: 0.2s;
}
.hero-section-info-button p:hover{
  background-color: #4184c6;
  transform: translateY(-0.2rem);
}
.hero-section-info-button p:active{
  scale: 0.95;
  /* transform: translateY(-0.2rem); */
}
.hero-section-image{
  width: 100%;
}
.hero-section-image iframe{
  /* max-width: 40rem; */
  /* min-height: 40rem; */
  width: 680px;
  height: 482px;

  border-radius: 30px;
  background: linear-gradient(145deg, #f0f0f0, #d2d7ff);
  box-shadow:  5px 5px 20px #929292,
               -5px -5px 10px #ffffff;
}

.hero-section-image-image-bg{
  width: 392px;
  height: 392px;
  position: relative;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-image: var(--vp-home-hero-image-background-image);
  filter: var(--vp-home-hero-image-filter);
  transform: translate(-50%,40%);
  z-index: -1;
}

.section-bio{
  /* background-color: rgb(244, 244, 244); */
  padding: 5rem 2rem;
}

.section-bio-center-div{
  margin: 0 auto;
  max-width: 1000px;
}

.section-biov2{
  scroll-margin-top: 7em;
  padding: 0 2em;
  padding-bottom: 150px;
    background-color: #ffffff;;
    color: white;
}

.section-bio-infosection{

  justify-content: center;
  display: flex;
  align-items: center;
}
.section-bio-title{
  color: white;
  text-align: left;
  margin: 0 2rem;
  padding-bottom: 35px;
}
.section-bio-title-contact{
  color: #ffffff;
  text-align: center;
  margin: 0 2rem;
}
.section-bio-title-contact h1{

  font-weight: 200;
  font-size: calc(1.8rem + 0.390625vw);
  /* font-size: 2.6rem; */
  padding-bottom:70px;
}
.section-contact-title{
  padding-bottom: 35px;
}
.section-bio-title h1{
  margin-top: 1rem;
  text-align: left;
  font-weight: 200;
  font-size: calc(1.8rem + 0.390625vw);
  /* font-size: 2.6rem; */
  padding-bottom:20px;
}
.section-bio-title h4{
  font-weight: 200;
  gap: 10px;
  font-size: 1.6rem;
  padding-bottom:20px;
}
.section-bio-title h3{
  color: #b7b7b7;
  font-size: calc(0.7rem + 0.390625vw);
  font-weight: 200;
  line-height: 1.8;
}
.section-bio-title h3 a{
  font-weight: 500;
  color: #cfcfcf !important;

}
.section-bio-imagesection{
  max-width: 300px;
}
.section-bio-imagesection img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.section-bio-infosectionText{
  /* box-shadow: 0px 3px 15px rgba(0,0,0,0.05); */
  /* margin: 0 -3rem; */
  padding: 0 4rem 0 4rem;

  background-color: rgba(0, 0, 0, 0.941);
  z-index: 3;
}
.section-bio-skills-container{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.section-bio-skills-container span{
  color: white;
  font-weight: 300;
  background-color: rgb(61, 63, 139);
  padding: 10px 20px 10px 20px;
  margin: 5px 10px 5px 10px;
  border-radius: 5px;
}

.section-bio-title-info{
  color: white;
  padding-bottom: 30PX;
}

.section-bio-title-info h2{
  font-size: 1rem;;
 color: rgb(185, 185, 185);
}
.section-bio-infodesc P{
  color: rgba(255, 255, 255, 0.751);
  line-height: 1.5;
  font-size: clamp(0.95rem, 0.7vw, 1.3rem);
  position: relative;
  font-weight: 300;
  z-index: 1;
  line-height: 1.5;
  max-width: 500px;
}




.section-biov2-text-container{
  display: flex;
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
  /* padding: 150px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-biov2-text-container h2{
 font-family: "eurostile", sans-serif;
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 1.7rem !important;
  }
  .section-biov2-text-container h3{
    max-width: 900px;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.3;
    }


.section-skills{
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  scroll-margin-top: 7em;
  margin-top: -12rem;
  padding-bottom: 1rem;
  margin-bottom: 100px;
  box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
border-radius: 23px;
}

.section-skills-column-container{
  margin: 0 auto;

display: flex;
justify-content: center;
text-align: center;
}
.top-column-section h2{
  margin-bottom: 1.5rem;
  font-weight:600;
  color: #141c3a;
  font-size: 23px;
}
.top-column-section h3{
  margin-bottom: 1.5rem;
  font-weight:300;
  color: #141c3a;
  margin-bottom:60px;
}
.middle-column-section h3, .bottom-column-section h3, .top-column-section h3{
  font-family: Metropolis;
  font-weight:300;
  color: #141c3a;
  font-size: 18px;
  margin-bottom:60px;
  line-height: 1.5;
}
.middle-column-section h2, .bottom-column-section h2{
  font-weight:500;
  color: #7510F7;;
  font-size: 18px;
}
.bottom-column-section{
text-align: center;
}
.section-skills-column{
  width: 27rem;
  padding: 50px 30px 50px 30px;
  }
  .section-skills-column ul{
    font-size: 18px;
    list-style-type: none;
    line-height: 2;
    padding: 0;
    }
.section-skills-column-icon{
  width: 2.7rem;
  color: #7510F7 !important;
  margin: 20px;
}

.section-skills-column + .section-skills-column {
  border-left:   1px solid #E6ECF8;

}

/** Optional for OPs exact layout */



.v2-projects-flex-container{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 3rem;
  margin: 1rem;
}
.v2-project-github-link{
  align-items: center;
  justify-content: center;
  display: flex;
margin-top: 50px;
}

.v2-project-github-link a {
  align-items: center;
  gap: 10px;
  display: flex;
  justify-content: center;
  color: #7510F7!important;
  background-color: transparent;
  text-decoration: none;
  border: 2px solid #7510F7;
  border-radius: 2532px;
  background-color: transparent;
  transition: 0.2s;
  cursor: pointer;
  padding: 0.9em 2em;
  font-weight: 500;
  margin-top: 2rem;
}

.v2-project-github-link a:hover{
  color: #fff!important;
  background-color: #7510F7;
}
.container {
    max-height: 500px;
    width: 41vw;
    height: 35.666667000000004vw;
    max-width: 550px;
    overflow: hidden;
    padding: 0;
    position: relative;
    transition: .5s ease;
}
.container2{



}
.v2-projects-projectThumbs{
  max-width: 1200px;
  margin: 0 auto;
}
.image {
object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.videoHero{
  top: auto;
}
.overlay {
  display: flex;
  position: absolute;
  /* top: 0; */
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000d4;
  justify-content: center;
  align-items: center;
}
.overlay2 {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
  height: 100%;
  width: 100%;
  opacity: 0.6;
  transition: .5s ease;
  background-color: #000000;
  justify-content: center;
  align-items: center;
  /* z-index: 3232; */
}
.container:hover {
  /* transform: scale(1); */
}
.container:hover .overlay {
  opacity: 1;
}
.container:hover .image {
  transform: scale(1.1);
}

.v2-project-text h1{
  font-weight: 200;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  color: white;
  font-size: 18px;
  line-height: 1.55;
}
.v2-project-text-underdev h1{

  font-weight: 200;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 20px;
  color: white;
  font-size: 18px;
  line-height: 1.55;
}
.v2-project-text-underdev a{
  font-weight: 400;
  font-size: 19px;
  color: #e2ac4e!important;
}

.v2-project-text a {
  color: rgb(255, 255, 255) !important;
  background-color: transparent;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 25px;
  padding: 15px 30px 15px 30px;
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;

}
.v2-project-text-underdev{
  color: rgb(255, 255, 255) !important;
  background-color: transparent;
  text-decoration: none;
  /* border: 2px solid #7510F7; */
  border-radius: 25px;
  padding: 15px 30px 15px 30px;
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;
}

.v2-project-text a:hover{
   border: 1px solid #557efa;
  /* background-color: #557efa; */
}
.section-projects{

  padding-bottom: 77px;
  scroll-margin-top: 7em;
  text-align: center;
}

.project-container{
  margin: 0px 58px 58px 58px;
  justify-content: center;
  display: flex;
  position: relative;
  width: 50%;

}
.v2-project-container img{
  display: block;
  object-fit: cover;
}



.container:hover .overlay {
  opacity: 1;
}

.section-collab{
margin: 12rem auto;
max-width: 1000px;
}
.section-collab-center-div{
  margin: 0 3rem;
  }
.section-collab h1{
  max-width: 600px;
  font-weight: 400;
  font-size: 3rem;
  color: white;
  margin: 9rem 0;
  line-height: 3.9rem;
}
.collab-section-flex-container{
  /* max-width: 1000px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.collab-section-flex-container img{
  width: 133px;
  /* margin:1rem 2rem; */
  opacity: 70%;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.projects-title{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: var(--ff-alt);
  color: var(--text-font-dark-1);
  font-weight: 500;
  /* font-size: 48px; */
  font-size: 2rem;
  padding-bottom: 30px;
}

.projects-subtitle{
  font-family: var(--ff-alt);
  color: rgb(78, 78, 78);
  font-weight: 500;
  /* font-size: 20px; */
  font-size : clamp(0.5rem, 4vw, 1.4rem);
  padding-bottom: 30px;
}
.project{
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 8%);
  -webkit-border-radius: 2em 2em 2em 2em;
  border-radius: 2em 2em 2em 2em;
  border: 1px solid #eee;
  text-align: center;
  margin: 20px;
  width: 25em;
}
.project img{
  width: 100%;
  max-height: 24vw;
  -webkit-border-radius: 2em 2em 0em 0em;
  -moz-border-radius: 2em 2em 0em 0em;
  border-radius: 2em 2em 0em 0em;
  object-fit: cover;
}
.project h1, .project p, .project button{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}
.project button{
  cursor: pointer;
  padding: 3% 8% 3% 8%;
  background-color: #4795e2;
  color: white;
  margin-bottom: 21px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 0.4em;
  font-size: 19px;
  left: 0;
  bottom: 0;
  border: none;
  position: relative;
  transition: 0.2s;
}
.project button:hover{
  background-color: #4184c6;
}
.project button:active{
  scale: 0.95;
}
.project h1{
  font-weight: 500;
  font-size: 1.2rem;
/* font-size: 30px; */
}

.project p{
  font-size : clamp(0.7rem, 0.7vw, 1.3rem);
  line-height: 1.5;
  /* font-size: 20px; */
  font-weight: 300;
}

.burger{
  display: none;
  z-index: 10000;
  /* display: flex; */
  flex-direction: column;
  width: 31px;
  cursor: pointer;
  margin: 0 1rem;
}
.nav-links-open{
  display: none;
}
.burger div{
  color: #ffffff;
  background-color: #ffffff;
  border-radius: 10px;
  height: 2px;
  margin: 3px 0;
  transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.line1,.line1-open{
  border-radius: 7px;
  width:50%;
}
.line2 ,.line2-open{
  border-radius: 7px;
  width:100%;
}
.line3,.line3-open {
  border-radius: 7px;
  width:75%;
}
.line1-open{
  transform-origin:bottom;
  transform: rotatez(45deg) translate(3px,0px);
}
.line2-open{
  transform-origin:top;
  transform:rotatez(-45deg)
}
.line3-open{
  transform-origin:bottom;
  width:50%;
  transform: translate(13px,-3.1px) rotatez(45deg);
}
/* ----------------------- CONTACT ----------------------- */
.category-section{
  /* background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%); */
  /* background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);  */




  background: #4776E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
















  padding-top: 30px;
  padding-bottom: 30px;
}
.category-section p{
  color: rgba(0, 0, 0);
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  line-height: 1.2em!important;
  text-align: center;

}
.section-title{
  color: white;
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  line-height: 1.2em!important;
  margin-top: 70px;
  font-size: 48px;

  /* padding-top: 50px; */
  text-align: center;
}
.text-white{
  padding-top: 13px;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}

.text-white a {
  color: white;
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
}
.text-white span {
  color: white;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
}
.section-gap{
  padding: 60px 0;
}

.rowUnderSubmit{
  margin-top: 10px;
}
.contact-flex-section{
  z-index: -1;
}
.section-contact-title{
  width: 100%;
}
.contact-title{
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}
.contact-section{
  margin: 0 auto;
  max-width: 1000px;
  padding: 5rem 0;
  padding-top: 9rem;
display: flex;
justify-content: center;
  scroll-margin-top: 5em;

}
.contact-section-flex-container{
justify-content: space-evenly;
  display: flex;
  height: 100%;
  column-gap: 4rem;
}
.contact-section-flex-container-box{
  flex: 1;
  height: 50%;
}
.contact-section-flex-container-box2{
  height: 50%;
  min-width: 50%;
  /* flex:2; */
}
.contact-section img{
margin-bottom: 50px;
width: 80px;
  }
.section-contact-title h1{
  text-align: center;
  padding-bottom: 70px;
}

.contact-info{
  color: #777;
  font-family: "Poppins",sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.825em;
}
.contact-info-container{
  margin: 0 3rem;
  padding-bottom: 35px;
}
.contact-info-containerh1{
  font-weight: 200;
  gap: 10px;
  font-size: 1.6rem;
  padding-bottom:20px;
}

.contact-info-container h3{

  color: #141c3a;
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 1.8;
}
.contact-image{
  max-width: 100%;
  height: auto;
  /* border-radius: 50%; */
}
.symbol-flex-container{
  padding-top: 20px;
}
.symbol-flex-container p{
color: #777;
font-family: "Poppins",sans-serif;
font-size: 10px;
font-weight: 300;
line-height: 1.825em;

}
.icon-placeholder{
  display: flex;
  align-items: center;
}
.symbol-flex-container i{
  padding-right: 30px;
  font-size: 24px;
  padding-bottom: 9px;
  border-radius: 50%;
  width: 30px;
  }

.form-control,.form-control-message{
  color: white;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.66);
  margin-top: 10px;
  outline: none;
  transition: 0.5s;
  /* text-indent: 5px; */
  /* border-radius: 2px; */

  }

  .form-control:hover, .form-control-message:hover {
    color: white;
    outline: none !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.66);
    /* border:1px solid rgb(53, 63, 255); */
    /* border-radius: 5px; */
    box-shadow: none;
  }
  .form-control:focus, .form-control-message:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.142);
  outline: none !important;
    border-bottom:1px solid rrgba(255, 255, 255, 0.66);
  /* border:1px solid rgb(53, 63, 255); */
  /* border-radius: 5px; */
  box-shadow: none;
}
.form-control{
  border-radius: 0;
height: 30px;
}
.form-control-message{
  /* border-radius: 0.375rem; */
  background-color: rgba(0, 0, 0, 0.142);
  border:0.2px solid rgba(255, 255, 255, 0.66);
  padding: 0.375rem 0.75rem;
  height: 100px;
  }
  .contact-info-box{
    margin: 0 3rem;
 
    padding-bottom: 35px;
  }
  .contact-info-box h1{
    font-weight: 200;
    gap: 10px;
    font-size: 2.1rem;
    padding-bottom:20px;
  }
  .contact-info-box h3{
    color: #454545;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.8;
  }
.contact-btn{
  background-color:#7410f700 ;
  /* background: #000; */
  color: #000000;
  padding: 15px 20px;
  cursor: pointer;
  border: none;
  /* border-radius: 4px !important; */
  height: 40px;
  padding-left: 1.5rem!important;
  padding-right: 1.5rem!important;
  padding-bottom: 0.5rem!important;
  padding-top: 0.5rem!important;
  font-weight: 400;
  margin-top: 10px;
  font-size: 17px;
}
.contact-btn:hover{
  color: #e6e6e6;
}
.contact-input-container{
  color: white;
  max-width: 500px;
}
.form-control-message{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid rgba(230, 230, 230, 0.142);
  width: 100%;
}
@media only screen and (max-width: 1500px) {
  .hero-section-info-desc{
    font-size: 5rem !important;
  }
}


@media only screen and (max-width: 1200px) {
  .section-skills{

    margin-left: 25px;
    margin-right: 25px;
  }
  .hero-section-image iframe{
    width: 390px;
    height: 277px;
  }
  .hero-section-info-title{
    font-size: 2.5rem !important;
  }
  /* .hero-section-info-desc{
    font-size: 1.2rem !important;
  }
  .hero-section-info-desc2{
    font-size: 1.2rem !important;
  } */
  }

@media only screen and (max-width: 900px) {

  .section-hero-section{
    height: 100vh;
  }
  .hero-section-info-title{
    font-size: 1.7rem !important;
  }
  .hero-section-info-desc{
    font-size: 3rem !important;
  }
  .hero-section-info-desc2{
    font-size: 3rem !important;
  }
  .hero-section-image img {
    width: 300px;
}
  .nav-title-container{
    margin-left: 0;
  }
  .hero-section-info-title{
    margin: 0;
    padding: 0;
    font-size: clamp(18px, 9vw, 30px);
  }
   .hero-section-row-flex{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7px 20px 7px 20px;
  }
  .hero-section-image iframe{
    width: 590px;
    height: 377px;
  }
  .hero-section-image {
    margin-top: 30px;
    padding-right: 0;
  }

  .section-bio-infosection{
    text-align: center;
    flex-direction: column;
  }
  .section-bio-imagesection img{
    margin-right: 0;
    margin-bottom: 20px;
  }

  .section-bio-skills-container {
    justify-content: center;
}
.project{
margin-bottom: 50px;
}
.section-bio-infosectionText{
display: flex;
 flex-direction: column; }
}
#blockA{
  margin-top: 30px;
  order: 2;
}
#blockB{
  order: 1;
}

@media only screen and (max-width: 710px) {
.section-bio-infosectionText{
  padding: 1rem;
margin:auto;
}

  .container{
    width: 85vw;
    height: 66.666667vw;
  }
  .contact-section-flex-container{
    margin: 0 1rem;
   flex-direction: column;
   align-items: start;
  }
  .contact-section-flex-container-box{
    flex: 0;
    height: auto;
  }
  .contact-section-flex-container-box2{
    width: 100%;
  }
  .nav{
    margin-top: 0;
  }
  .nav-title-container{
    padding: 0 0.5rem;
  }
  .hero-section-info-desc-sub{
    margin-top: 500px;
  }
  .hero-section-info-desc{
    margin-top: 250px;
  }
  .section-hero-section{
    height: 100vh;
  }
  .icons-container{
    display: none;
   }
.section-skills-column:not(:last-child){
  border-bottom: 1px solid #E6ECF8;
}
.section-collab{
margin: 4rem 0;
margin-bottom: 12rem;
}
.section-collab h1{
  font-weight: 400;
  font-size: calc(25px + 0.390625vw);
  margin-bottom: 36px;
  line-height: 2.9rem;
}
.section-skills-column{
  width: auto;
}
.section-skills-column + .section-skills-column {
  border-left:   none;
}
  .project p{
    font-size: clamp(0.9rem, 1vw, 0.3rem);
    line-height: 1.5;
    font-weight: 300;
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 25px;
  }
  .project h1{
    font-weight: 500;
    font-size: 1.6rem;
  }
  .project-container{
    margin: 5px;
    display: block;
  }
 .hero-section-image iframe{
  width: 261px;
  height: 200px;
 }
.section-call-to-action-box{
  display: block;
}
 .hero-section-info-subtitle{

  font-size: 15px;
}
.hero-section-info-desc-sub{
  display: none;
}
.hero-section-info-desc{
  font-size: 2.4rem !important;
}
.hero-section-info-desc2{
  
  font-size: 2rem !important;
}
.section-skills-column-container{
  display: block;
}
.section-bio-imagesection img{
  max-height: 200px;
}
.section-bio-skills-container span{
  padding: 5px 10px 5px 10px;
  border-radius: 1px;
}
.project{
  width: auto;
  margin: 33px;
}
.burger{
  z-index: 10000;
  display:inherit;
}
.nav-links-open{
  display: flex;

  flex-flow: column;
}
.nav-menu-flex{
  display: none;
}
.project img{
  max-height: 300px;
}
/* ----------------------- Contact ----------------------- */
.contact-flex-section{
  display: unset;
}
.contact-info-container{
  width: 100%;
  padding:0;
}
.contact-title{
  padding-left: 20px;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  padding:0;
}
.section-call-to-action-column-item{
  width: auto;
    margin-bottom: 3rem;
  }
.section-call-to-action-column-item p{
font-size: 1rem;
}
.contact-info{
  padding:0;
  text-align: center;
  font-size: 13px;
  margin-left: 50px;
  margin-right: 50px;
}
.icon-placeholder{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.symbol-flex-container{
  padding: 0;
  margin: 0;
}
.icon-placeholder i{
  padding: 10px 0 10px 0;
  width: auto;
}
.contact-input-container{
margin:0 1rem;
text-align: center;
  padding-bottom: 120px;
}

.collab-section-flex-container{
  /* margin: 1rem 1rem; */
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 10px;
}
.collab-section-flex-container img{
  width: 82px;
}
.form-control:focus, .form-control-message:focus {
  outline: none !important;
  /* border:1px solid rgba(0, 0, 0, 0.155); */
  /* border-radius: 5px; */
  box-shadow: none;
}
.form-control{

  width: 100%;
}
.form-control-message{
  width: 100%;
}
.section-bio-infodesc p{
  max-width: 385px;
}
}
  .nav-links {
    display: grid;
    transition: 0.3s ease-out;
    transform: translateY(100%);
    margin-bottom: 0;
    padding-top: 17px;
    padding-top: 17px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    transform-origin: 0 0;
    box-shadow: 0px 2px 30px 14px rgb(60 64 67 / 10%);
    bottom: 0;

    width: 100%;
    /* border-radius: 18px 18px 0 0; */
    background-color: white;
    z-index: 100;
    position: fixed;
    z-index: 100222;
    text-decoration: none;
    grid-gap: 2rem;
    gap: 2rem;
  }
.nav-links li{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px; */
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: rgb(0, 0, 0);
 }
  .nav-links-open a {
    text-decoration: none;
    color: rgb(0, 0, 0);
   }
   .nav-links-open a:focus-visible {
    text-decoration: none;
    color: rgb(118, 66, 228);
   }

  /* .nav-links a {
    text-decoration: none;
    display: none;
  } */
  .nav-links a:hover {
    color: #f4f4f4;
  }

  .nav-links-open{

    display: grid;
    transition: 0.3s ease-out;
    transform: translateY(0);
    margin-bottom: 0;
    padding-top: 17px;
    padding-top: 17px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    transform-origin: 0 0;
    box-shadow: 0px 2px 30px 14px rgba(60, 64, 67, 0.144);
    bottom: 0;

    width: 100%;
    /* border-radius: 18px 18px 0 0; */
    background-color: white;
    z-index: 100;
    position: fixed;
    z-index: 100222;
    text-decoration: none;
    /* transform: translateY(0%);
    transition: transform 0.3s ease-out; */
    /* grid-template-columns: repeat(3,1fr); */
    grid-gap: 2rem;
    gap: 2rem;
  }

.burger-open{
  z-index: 10000;
  z-index: 1000;
  /* transform: translateY(122%); */
}
  .nav-links-open li {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px; */
    list-style: none;
  }

  a:link {
    text-decoration: none;
}

.scrollTest{
  display: flex;
  justify-content: center;
}
.scrollTest a {
  margin-top: 100px;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: flex;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: rgb(0, 0, 0);
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.scrollTest a:hover {
  opacity: .5;
}

#section10 a {
  padding-top: 60px;
}
#section10 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
#section10 a span::before {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}


.context {
  width: 100%;
  position: absolute;
  top:50vh;

}

.context h1{
  text-align: center;
  color: #fff;
  font-size: 50px;
}


.area{
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height:100vh;


}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;

}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}



